<h1><%= Swattr.t(:edit_issue) %></h1>

<%= render "form" %>

<% if policy(@issue).show? %>
  <%= link_to Swattr.t(:show), project_issue_path(@project, @issue) %> |
<% end %>
<%= link_to Swattr.t(:back), project_issues_path(@project) %>
