<h1><%= Swattr.t(:edit_priority) %></h1>

<%= render "form" %>

<% if policy(@priority).show? %>
  <%= link_to Swattr.t(:show), @priority %> |
<% end %>
<%= link_to Swattr.t(:back), priorities_path %>
