<div class="page-header">
  <h1><%= Swattr.t(:edit_user) %></h1>
</div>

<%= render "form" %>

<% if policy(@user).show? %>
  <%= link_to Swattr.t(:show), user_path(@user) %> |
<% end %>
<%= link_to Swattr.t(:back), users_path %>
