<div class="page-header">
  <h1><%= Swattr.t(:edit_status) %></h1>
</div>

<%= render "form" %>

<% if policy(@status).show? %>
  <%= link_to Swattr.t(:show), @status %> |
<% end %>
<%= link_to Swattr.t(:back), statuses_path %>
