<% unless flash.empty? %>
<div id="alert-messages">
  <% flash.delete(:timedout).each do |key, value| %>
  <div class="alert alert-<%= flash_class_for(key) %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
  <% end %>
</div>
<% end %>
