<h1><%= Swattr.t(:edit_project) %></h1>

<%= render "form" %>

<% if policy(@project).show? %>
  <%= link_to Swattr.t(:show), project_path(@project) %> |
<% end %>
<%= link_to Swattr.t(:back), projects_path %>
